# Exercises from Humai's Exam on Databases

This notebook has a few exercises of the exam from the Databases course from [Humai](https://ihum.ai/). The data comes from PreViaje, a tourism pre-sale program in Argentina that reimburses you 50% of the value of your trip in credit.

### Contents of the test
The first part of the exam is basic SQL (CRUD operations mostly), with some queries and joins. Then, a few MongoDB exercises and Vector DBs with ChromaDB.

## Part 1: SQL
### Setup

In [4]:
#!pip install ipython-sql # if ipython-sql not installed
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## 1. Create a database where there is a table called "Products" with the following fields:

"Products" with the following fields:
- product_id (integer, primary key)
- product_name (text string, not null)
- product_price (decimal, not null)
- product_stock (integer, not null)
---

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS Products (
    product_id INT NOT NULL,
    product_name VARCHAR(255) NOT NULL,
    product_price DECIMAL(8,2),
    product_stock INT NOT NULL,
    PRIMARY KEY (product_id)
);

 * sqlite://
Done.

[]

## 2. Insert 3 records in the "Products" table with the following values:

- (1, 'Leche', 1.50, 100)
- (2, 'Pan', 0.50, 200)
- (3, 'Huevos', 2.00, 50)
---

In [8]:
%%sql
INSERT INTO Products VALUES
    (1, 'Leche', 1.50, 100),
    (2, 'Pan', 0.50, 200),
    (3, 'Huevos', 2.00, 50);

 * sqlite://
3 rows affected.

[]

In [9]:
%%sql
SELECT * FROM Products;

 * sqlite://
Done.

[(1, 'Leche', 1.5, 100), (2, 'Pan', 0.5, 200), (3, 'Huevos', 2, 50)]

## 3. Create a query that returns all products that have a price greater than $1.00
---

In [10]:
%%sql
SELECT product_name, product_price
FROM Products
WHERE product_price > 1.00;

 * sqlite://
Done.

[('Leche', 1.5), ('Huevos', 2)]

## 4. Given the following tables from a library database:

<br>

## Autores

| Field | Type |
|:----------:|:--------:|
| **id_autor (PK)** | integer |
| nombre | text |

<br>

## Libros

| Field | Type |
|:---------:|:---------:|
| **id_libro (PK)** | integer|
| titulo | text |
| autor_id | integer |

<br>

## Prestamos

| Field | Type |
|:---------------:|:--------:|
| id_prestamo | integrate |
| libro_id | integrate |
| fecha_prestamo | date |
| fecha_devolucion| date |
  
<br>
<br>

### Database and table creation below (whis was given during the exam)

In [12]:
%%sql
CREATE TABLE IF NOT EXISTS Autores (
    id_autor INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL
);

CREATE TABLE IF NOT EXISTS Libros (
    id_libro INTEGER PRIMARY KEY,
    titulo TEXT NOT NULL,
    autor_id INTEGER,
    FOREIGN KEY (autor_id) REFERENCES Autores (id_autor)
);

CREATE TABLE IF NOT EXISTS Prestamos (
    id_prestamo INTEGER PRIMARY KEY,
    libro_id INTEGER,
    fecha_prestamo DATE,
    fecha_devolucion DATE,
    FOREIGN KEY (libro_id) REFERENCES Libros (id_libro)
);

INSERT INTO Autores (id_autor, nombre) VALUES
(1, 'Gabriel García Márquez'),
(2, 'Isabel Allende'),
(3, 'Julio Cortázar');

INSERT INTO Libros (id_libro, titulo, autor_id) VALUES
(1, 'Cien años de soledad', 1),
(2, 'El amor en los tiempos del cólera', 1),
(3, 'La casa de los espíritus', 2),
(4, 'Rayuela', 3);

INSERT INTO Prestamos (id_prestamo, libro_id, fecha_prestamo, fecha_devolucion) VALUES
(1, 1, '2023-01-01', '2023-01-15'),
(2, 2, '2023-02-01', NULL),
(3, 3, '2023-02-15', '2023-03-01'),
(4, 4, '2023-03-01', NULL),
(5, 1, '2023-03-02', '2023-03-10'),
(6, 2, '2023-03-04', NULL),
(7, 4, '2023-03-07', '2023-03-25'),
(8, 1, '2023-04-01', NULL);

 * sqlite://
Done.
Done.
Done.
3 rows affected.
4 rows affected.
8 rows affected.

[]

#### Create a query that returns the titles and checkout dates of books that are currently checked out and have not yet been returned. Books that have not been returned have `fecha_devolucion = NULL`

### NOTE: Please note that the library can loan more than one copy of the same book.

In [21]:
%%sql
SELECT l.titulo FROM Libros as l
JOIN Prestamos p
ON l.id_libro = p.libro_id
WHERE p.fecha_devolucion IS NULL;

 * sqlite://
Done.

[('El amor en los tiempos del cólera',),
 ('Rayuela',),
 ('El amor en los tiempos del cólera',),
 ('Cien años de soledad',)]

## **BONUS**

This is an optional exercise.

## Given the tables from this database

Create a query that returns the name of the authors and the total number of books checked out per author who have more than one book checked out in descending order.

In [41]:
%%sql
SELECT a.nombre, COUNT(p.id_prestamo) as cuenta FROM Autores a
JOIN Libros l
ON a.id_autor=l.autor_id
JOIN Prestamos p
ON p.libro_id = l.id_libro
GROUP BY (a.nombre)
ORDER BY cuenta DESC

 * sqlite://
Done.

[('Gabriel García Márquez', 5), ('Julio Cortázar', 2), ('Isabel Allende', 1)]

## Part 2: MongoDB

10. In the database called `baseDatosExamen` use the `infoUsuarios` collection to answer the following points:

- Save in `count_rango_edad` the **number of users who are between 20 and 24 years old**.
- Save in `count_mas_cursos` the **number of users who have more than 3 courses**.
- For users whose hobby is `'pintar'`, place a field called `'sugerencia'` and the value `'pinturas'`. Then, save in `count_pintura` **the number of users who have the value `'pinturas'` in the `'sugerencia'`** field.
- Calculate and save in `promedio_isabel` **the arithmetic average for the student `Isabel Torres`, 53 years old**.
---

In [ ]:
# docker container to run mongofb
#!docker run -d -p 27018:27017 --name mongo-container -e MONGO_INITDB_ROOT_USERNAME=adminHumaiUser -e MONGO_INITDB_ROOT_PASSWORD=humai mongo

In [26]:
# database creation and data insertion (given during the exam)
import requests
import pymongo


# URL del archivo JSON en GitHub Raw
url = "https://raw.githubusercontent.com/engcarlosperezmolero/resources_and_tools/main/data/csv/coleccion_examen_humai_no_relaciones.json"

# Obtener el contenido del archivo JSON
response = requests.get(url)
data = response.json()

# Conectar a MongoDB (ajusta las credenciales y la URL según tu configuración)
client = pymongo.MongoClient('mongodb://adminHumaiUser:humai@localhost:27018/')
db = client["baseDatosExamen"]
collection = db["infoUsuarios"]
collection.insert_many(data);

A peek of the data:



```
hobbies = ["leer", "pintar", "correr", "cocinar", "jugar videojuegos", "tocar un instrumento", "bailar", "nadar", "hacer senderismo", "jardineria"]
```

```
{'_id': ObjectId('654309a3f1388c5a817ddfef'),
  'nombre': 'Fernando Pérez',
  'direccion': '00300 Maria Mews Suite 257\nLake Jenniferberg, MI 87758',
  'email': 'Fernando@ejemplo.com',
  'edad': 22,
  'numero_telefono': '(973)812-0467',
  'hobbies': ['pintar'],
  'cursos': [{'nombre_curso': 'Desarrollo Web Full Stack',
    'puntuacion': 53,
    'aprobado': False},
   {'nombre_curso': 'Programación en Python',
    'puntuacion': 80,
    'aprobado': True},
   {'nombre_curso': 'Ingeniería de Software',
    'puntuacion': 65,
    'aprobado': True},
   {'nombre_curso': 'Seguridad Informática',
    'puntuacion': 82,
    'aprobado': False},
   {'nombre_curso': 'Seguridad Informática',
    'puntuacion': 91,
    'aprobado': True}]}
```

In [27]:
coleccion = db.infoUsuarios

In [29]:
# Number of users who are between 20 and 24 years old
users_2024 = list(coleccion.find({"edad": {"$gte": 20, "$lte": 24}}))
count_rango_edad = f"{len(users_2024)}"
print(count_rango_edad)

14

In [30]:
# Number of users who have more than 3 courses
users_plus3cursos = list(coleccion.find({"cursos.3": {"$exists": True}}))
count_mas_cursos = f"{len(users_plus3cursos)}"
print(count_mas_cursos)

118

In [31]:
# Add the 'sugerencia' field with the value 'pinturas' to users with the hobby 'pintar'
pintura = coleccion.update_many(
        {"hobbies": "pintar"},
        {"$set": {"sugerencia": "pinturas"}}
    )

In [32]:
sugiere_pintura = list(coleccion.find({"sugerencia": "pinturas"}))
count_pintura = f"{len(sugiere_pintura)}"
print(count_pintura)

88

In [33]:
# Calculate the arithmetic average for the 53-year-old student Isabel Torres.
isabel = list(coleccion.find(
    {"nombre": "Isabel Torres", "edad": 53},
    {"cursos.puntuacion": 1, "_id": 0}
))
notas_isabel = [nota["puntuacion"] for nota in isabel[0]["cursos"]]
promedio_isabel = sum(notas_isabel)/len(notas_isabel)
promedio_isabel = f"{promedio_isabel}"
print(promedio_isabel)

58.333333333333336

## Part 3: Vector DBs

We are going to work on *fictitious* data from a blogging web platform.
In it, users are given the possibility of searching for blog posts by their title, using semantic search.

---

What you should do is:

1. Create a collection called "blogposts" in ChromaDB.
     - Use multilanguage embedding
     - Use cosine distance
      

2. Insert data to the collection
     - a.) Include the metadata when inserting the documents.
     - b.) Check how many documents are in the collection and **save the number of documents in the variable `count_documents`**.
      
        
3. Perform the following searches:
     - a.) Use `get` with the filter `{"$contains": "Android"}` to get all documents containing the word "Android". and **save the title of the first result in `android_first_result`**.
     - b.) Use `query` to perform a semantic search with the following `query_texts` "*¿Qué hacer si tengo síntomas de gripe?*" and **save the title of the first result in `gripe_first_result`**
     - c.) Perform a semantic search, with metadata filter `{"category": "technology"}` to answer "*"Consejos para una navegación segura*" and **save the title of the first result in `securidad_first_result`**

In [34]:
from chromadb.utils import embedding_functions
import chromadb

#Instanciar base de datos in-memory
# Creamos la base de datos in-memory para este ejercicio.
client = chromadb.Client()

#Variables necesarias para la creación de la colección
sentence_transformer_ef = embedding_functions.SentenceTransformerEmbeddingFunction(model_name="intfloat/multilingual-e5-small")
collection_metadata = {"hnsw:space": "cosine"} # Usar distancia coseno

#Datos a insertar en la colección
blogpost_titles = [
    # Tecnología
    "Los 5 navegadores web más seguros para Android",
    "¿Tu PC anda mal? Cómo limpiarla de Virus y Malware",
    "Cómo proteger tu red Wi-Fi en Casa como un Pro",

    # Salud & Lifestyle
    "Navegación Segura: Protocolos Esenciales para el Río y el Mar",
    "Protocolos para Abordar Infecciones Respiratorias",
    "Protegé tu Red de Soporte Emocional: Claves para el Bienestar",
]

blogpost_metadatas = [
    {"category": "technology"},
    {"category": "technology"},
    {"category": "technology"},

    {"category": "healthcare_lifestyle"},
    {"category": "healthcare_lifestyle"},
    {"category": "healthcare_lifestyle"},
]

blogpost_ids = [
    "blog1",
    "blog2",
    "blog3",

    "blog4",
    "blog5",
    "blog6",
]

.gitattributes:   0%|          | 0.00/1.57k [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/200 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/160k [00:00<?, ?B/s]

config.json:   0%|          | 0.00/655 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/471M [00:00<?, ?B/s]

onnx/config.json:   0%|          | 0.00/653 [00:00<?, ?B/s]

model.onnx:   0%|          | 0.00/470M [00:00<?, ?B/s]

sentencepiece.bpe.model:   0%|          | 0.00/5.07M [00:00<?, ?B/s]

onnx/special_tokens_map.json:   0%|          | 0.00/167 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.1M [00:00<?, ?B/s]

onnx/tokenizer_config.json:   0%|          | 0.00/443 [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/471M [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/57.0 [00:00<?, ?B/s]

sentencepiece.bpe.model:   0%|          | 0.00/5.07M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/167 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.1M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/443 [00:00<?, ?B/s]

modules.json:   0%|          | 0.00/387 [00:00<?, ?B/s]

In [35]:
# exercise 1

client = chromadb.Client()
collection = client.get_or_create_collection(
    "blogposts",
    embedding_function=sentence_transformer_ef,
    metadata=collection_metadata
)

collection_metadata

{'hnsw:space': 'cosine'}

In [36]:
# exercise 2a
data = {"ids": blogpost_ids, "documents": blogpost_titles, "metadatas": blogpost_metadatas}
collection.add(**data)

In [37]:
# exercise 2b
count_documents = f"{collection.count()}"
count_documents

'6'

In [38]:
# exercise 3a
got = collection.get(where_document={"$contains": "Android"})
android_first_result = f"{got}"
android_first_result

"{'ids': ['blog1'], 'embeddings': None, 'metadatas': [{'category': 'technology'}], 'documents': ['Los 5 navegadores web más seguros para Android'], 'uris': None, 'data': None}"

In [39]:
# exercise 3b
query_gripe = "¿Qué hacer si tengo síntomas de gripe?"
result_gripe = collection.query(
    query_texts=[query_gripe],
    n_results=1
)
gripe_first_result = f"{result_gripe}"
gripe_first_result

"{'ids': [['blog5']], 'distances': [[0.13598942756652832]], 'metadatas': [[{'category': 'healthcare_lifestyle'}]], 'embeddings': None, 'documents': [['Protocolos para Abordar Infecciones Respiratorias']], 'uris': None, 'data': None}"

In [40]:
# exercise 3c
query_safety = "Consejos para una navegación segura"
metadata_filter = {"category": "technology"}
result_safety = collection.query(
    query_texts=[query_safety],
    n_results=1,
    where=metadata_filter
)
seguridad_first_result = f"{result_safety}"
seguridad_first_result

"{'ids': [['blog1']], 'distances': [[0.13083720207214355]], 'metadatas': [[{'category': 'technology'}]], 'embeddings': None, 'documents': [['Los 5 navegadores web más seguros para Android']], 'uris': None, 'data': None}"